@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Black Bones';
  src: url('./assets/fonts/black-bones.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TypoSlab Irregular';
  src: url('./assets/fonts/TypoSlab-Irregular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Chill Chirp';
  src: url('./assets/fonts/Chill-Chrip-Free.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

.font-foresight {
  font-family: 'TypoSlab Irregular', sans-serif;
}

.font-chill-chirp {
  font-family: 'Chill Chirp', sans-serif;
}
